*.iml
.gradle
.kotlin
/local.properties
/.idea
.DS_Store
/build
*/build
/captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/xcshareddata/xcschemes/
*.xcworkspace/*
!*.xcworkspace/contents.xcworkspacedata
